<form (ngSubmit)="submitUser()">
    <div>
        <label for="Username">Username: </label>
        <input 
        type="text" 
        name="Username" 
        placeholder="Enter your username" 
        required 
        [(ngModel)]="registerModel.Username"
        />
    </div>
    <div>
        <label for="Email">Email: </label>
        <input 
        type="text" 
        name="Email" 
        placeholder="Enter your email" 
        required 
        [(ngModel)]="registerModel.Email"
        />
    </div>
    <div>
        <label for="Password">Password: </label>
        <input 
        type="password" 
        name="Password" 
        placeholder="Enter your password" 
        required
        [(ngModel)]="registerModel.Password"
        />
    </div>
    <div>
        <label for="confirm-password">Confirm Password: </label>
        <input 
        type="password" 
        name="confirm-password" 
        placeholder="Confirm your passowrd" 
        required />
    </div>
    <div>
        <label for="Firstname">Firstname: </label>
        <input 
        type="text" 
        name="Firstname" 
        placeholder="Enter your firstname" 
        required
        [(ngModel)]="registerModel.Firstname"
        />
    </div>
    <div>
        <label for="Lastname">Lastname: </label>
        <input 
        type="text" 
        name="Lastname" 
        placeholder="Enter your lastname" 
        required
        [(ngModel)]="registerModel.Lastname" />
    </div>
    <button type="submit">Submit</button>
</form>
