// mx 

// Mixins in SCSS (Sassy CSS) are a powerful feature that allows you to create reusable styles or groups of CSS declarations. 
// They can be included in other SCSS rules, making your stylesheets more maintainable and keeping your code DRY (Don't Repeat Yourself).

@mixin box-shadow($shadow){
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius
}

@mixin box-shadow($shadow: 2px 2px 5px rgba(0,0,0,0.3)) {
    box-shadow: $shadow;
}
  


// How to use

// You go to the component you want to style
// Select the style.scss file of the component
// Choose the component you want to style

// ex: 

// button {
//     @include border-radius(10px);
// }