<form (submit)="onSubmit()">
    <h1>Register</h1>
    <app-shared [sharedInput]="registerInput.shared"></app-shared>
    <label for="Username">
        <input type="text" name="username" placeholder="Username" [(ngModel)]="registerInput.username" required>
    </label>
    <label for="ConfirmPassword">
        <input type="password" name="confirm-password" placeholder="Confirm password">
    </label>
    <button type="submit">Register</button>
    <a routerLink="/auth/login">Are you registered? Log in!</a>
</form>