.eisenhower-matrix {
    display: grid;
    grid-template-areas:
        "label-urgent label-not-urgent"
        "do decide"
        "delegate delete";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 20px;
    padding: 20px;
    align-items: start;

    > .important, > .not-important {
        text-align: center;
        padding: 10px;
        color: white;
    }

    > .important {
        grid-area: label-urgent;
        background-color: #e4520f;
    }

    > .not-important {
        grid-area: label-not-urgent;
        background-color: #0ddabe; 
    }

    > .urgent, > .not-urgent {
      text-align: center;
    }

    > .urgent {
      background-color: #2ecc71;
    }

    > .not-urgent {
      background-color: #2980b9;
    }

    > app-do-component.important-urgent {
        grid-area: do;
        background-color: #2ecc71; 
    }

    > app-decide-component.important-not-urgent {
        grid-area: decide;
        background-color: #3498db; 
    }

    > app-delegate-component.not-important-urgent {
        grid-area: delegate;
        background-color: #f39c12; 
    }

    > app-delete-component.not-important-not-urgent {
        grid-area: delete;
        background-color: #95a5a6; 
    }

    > button {
        grid-column: 1 / -1; 
        padding: 10px 20px;
        margin-top: 20px;
        background-color: #3498db; 
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        &:hover {
            background-color: #2980b9;
        }
    }
}
