.task-container {
    background-color: rgba(224, 39, 15, 0.5); 
    padding: 10px;
    border-radius: 5px;
    min-height: 320px;
    position: relative;
  }
  .task-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    opacity: 0.7;
  }
  .task-container.has-tasks .task-type {
    display: none;
  }
  .task {
    margin: 5px 0;
} 
